appdirs==1.4.4
arch==7.2.0
atomicwrites==1.4.0
backports.weakref==1.0.post1
ecbdata==0.1.1
et-xmlfile==1.1.0
fonttools==4.25.0
fredapi==0.5.1
multitasking==0.0.11
munkres==1.1.4
numpy==1.26.4
openpyxl==3.0.10
pandas==2.2.3
pandas-datareader==0.10.0
patsy==0.5.3
peewee==3.17.3
ply==3.11
protobuf==3.20.3
pyasn1-modules==0.2.8
quantics==0.2.0
requests==2.32.3
requests-cache==1.2.1
scipy==1.11.4
umap-learn==0.5.7
url-normalize==1.4.3
webencodings==0.5.1
xgboost==2.1.0
yfinance==0.2.54

